@{
    ViewBag.Title = "My Address Book";
}

<div>
    @(Html.Kendo().Window()
    .Name("window")
    .Title("")
    .Animation(true)
    .Animation(animation =>
        {
            animation.Open(effect =>
                {
                    effect.Duration(AnimationDuration.Slow);
                    effect.Zoom(ZoomDirection.In);
                });

            animation.Close(effect =>
                {
                    effect.Duration(AnimationDuration.Slow);
                    effect.Zoom(ZoomDirection.Out);
                });
        })
    .Draggable()
    .Resizable()
    .Width(600)
    .Modal(true)
    .Visible(false)
    .Width(400)
    .Content("loading movie star information...")
    .Actions(actions => actions.Close())
    )
</div>
<style type="text/css">
    .MiniText {
        font-size: 13px;
        font-style: italic;
        cursor: pointer;
        color: red;
        padding-top: 5px;
        height: 30px;
    }

    .ShadowBoxing {
        box-shadow: 5px 5px 5px #888888;
        border-radius: 30px;
    }

    .ShadowText {
        font-size: 20px;
        -webkit-text-shadow: 5px 5px 5px #888888;
        text-shadow: 5px 5px 5px #888888;
    }

    .HeaderHeight {
        height: 30px;
    }

    #MovieStarList {
        /*padding-bottom: 50px;*/
        clear: both;
        width: 1150px;
    }

    .ImageList {
        float: left;
        padding-right: 20px;
    }

    .ImageBorder {
        border: 1px outset gray;
    }

    .StaticAddressBook {
        clear: both;
        position: absolute;
        top: 230px;
        width: 900px;
    }

    .Padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>

<script type="text/javascript">
    var ddlItem;
    var clickedImageControlID;

    $(DocumentIsReady);
    function DocumentIsReady() {

        // Hide Contact Grid
        $('#contacts').hide();

        // Wire All Events
        WireEvents();
    }

    function WireEvents() {
        // Build Guess Who Menu
        var stars = $('img.ImageBorder');
        stars
            .attr(
                {
                    title: 'Who Am I? <br/> Click to find out!',
                })
            .css({
                height: 100,
                opacity: .50,
                cursor: 'pointer'
            })
            .addClass('ShadowBoxing')
            .on({
                click: function (event) {
                    //GetWindowHTML(event.target.id);
                    //LoadWindowLoad(event.target.id);
                    GetWindowJSON(event.target.id);
                },

                mouseenter: function () {
                    $(this).animate(
                        {
                            opacity: 100,
                            height: 110
                        })
                },

                mouseleave: function () {
                    $(this).animate(
                        {
                            opacity: .50,
                            height: 100
                        })
                }
            });

        // Build Hide / Show
        var hideShowHeader = $('#hideHeader');
        hideShowHeader
            .on({
                click: function () {
                    $('#AddressBook').toggleClass('StaticAddressBook')

                    if ($('#hideHeader').text() == 'hide guessing game') {
                        $('#hideHeader').text('show guessing game');
                        $('#MovieStarList').effect("drop", 1000);
                    }
                    else {
                        $('#hideHeader').text('hide guessing game');
                        $('#MovieStarList').effect("slide", 1000);
                    }

                    //$('#MovieStarList').slideToggle('slow', "");

                    //if ($('#hideHeader').text() == 'hide guessing game') {
                    //    $('#hideHeader').text('show guessing game');
                    //}
                    //else {
                    //    $('#hideHeader').text('hide guessing game');
                    //}
                }
            });

        // Add New Movie Star Button
        $('#GetRandomMovieStars').click(function () {
            OpenNewStarWindow();
        });        
    }

    function additionalData(e) {
        return { selectedAddressBook: ddlItem }
    }

    function onChange() {
        $('#contacts').show();
        ddlItem = this.value();
        var grid = $("#contacts").data("kendoGrid");
        grid.dataSource.read();
    };

    function OpenNewStarWindow() {
        window.location.href = "/Contact/Create";
    }

    function GetWindowHTML(controlID) {
        var data = { imgControlID: controlID };
        clickedImageControlID = controlID;

        $.get('/Contact/GetStarInformation/', data, function (data) {
            var window = $("#window").data("kendoWindow");
            window.content($(data).find('[title="Description"]').html());
            window.title($(data).find('[title="Name"]').html());
            window.center();
            window.open();
        }, 'html');
    }

    function GetWindowJSON(controlID) {
        var data = { imgControlID: controlID };
        clickedImageControlID = controlID;

        $.getJSON('/Contact/GetStarInformationJson/', data, function (data) {
            var window = $("#window").data("kendoWindow");
            window.content(data[0].Description);
            window.title(data[0].Name);
            window.center();
            window.open();
        });
    }

    function LoadWindowLoad(controlID) {
        $('#AddressBook').removeClass('StaticAddressBook');

        var loadPath = '../../HTML/stars.html [title="' + controlID + '"]';
        $('#starDescription').load(loadPath, function (response, status, xhr) {
            if (status == 'error') {
                alert('Bad Load');
            }
        });
    }

</script>

<div class="MiniText">
    <span id="hideHeader">hide guessing game</span>
</div>
<div id="MovieStarList">
    <div id="MovieStarHeader" class="ShadowText">
        Guess the Movie Stars In My Address Book
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgRickMartin" alt="" src="http://imag.lecturalia.com/img/autor/ricky-martin-9579.jpg" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgHelenHunt" alt="" src="http://ia.media-imdb.com/images/M/MV5BMTM1OTk1ODIwMV5BMl5BanBnXkFtZTcwMTA0MTIwOQ&#64;&#64;._V1._SX100_SY131_.jpg" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgJodieFoster" alt="" src="http://www.gralon.net/cinema/acteur/photo-jodie-foster-1065.gif" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgSallyField" alt="" src="http://www.pathe.nl/thumb/120x160/gfx_content/profiel/sallyfield120.jpg" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgBradPitt" alt="" src="http://www.moviepilot.de/files/images/0487/1903/Brad_Pitt_B4051_poster_large.JPG" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgSandraBullcock" alt="" src="http://www.ellemagazin.hu/Root/Shared/Pictures/2013/08/01/sandra-bullock(148x195).png" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgBillNye" alt="" src="http://ts4.explicit.bing.net/th?id=H.4999502046168627&pid=1.7" />
    </div>
    <div class="ImageList">
        <img class="ImageBorder" id="imgJackNicholson" alt="" src="http://image.gala.de/v1/cms/uP/jack-nicholson_4748574-portrait-standardPortraitTeaser_2.jpg?v=6787873" />
    </div>
    <div id="starDescription" style="clear: both; padding-top: 10px; padding-bottom: 10px">
    </div>
</div>
<div id="AddressBook" class="StaticAddressBook">
    <div style="float: left; padding-right: 20px">
        @(Html.Kendo().ComboBox()
        .Name("addressbooks")
        .HtmlAttributes(new { style = "width:300px" })
        .Placeholder("Select Address Book...")
        .DataTextField("Description")
        .DataValueField("AddressBookID")
        .Filter(FilterType.Contains)
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("AddressBook_Read", "Contact");
            });
        })
        .Events(e =>
            {
                e.Change("onChange");
            })
        )
    </div>
    <div style="float: left; padding-right: 20px">
        <input id="GetRandomMovieStars" type="button" value="Add New Movie Star" class="btn btn-default" />
    </div> 
    <div style="float: left; padding-right: 20px">
        @Html.ActionLink("Play with JQueryUI", "JQueryUI", "Contact", null, new { @class = "btn btn-default" })
    </div> 
    <div style="float: left">
        @Html.ActionLink("Play with Bootstrap", "Bootstrap", "Bootstrap", null, new { @class = "btn btn-default" })
    </div> 
    <br/>
    <br />
    <div style="clear: both">
        @(Html.Kendo().Grid<MyAddressBook.ViewModels.ContactViewModel>()
        .Name("contacts")
        .Columns(columns =>
        {
            columns.Bound(c => c.ContactID).Visible(false);
            columns.Bound(c => c.PersonalImageUrl).ClientTemplate("<img class='ShadowBoxing' src='#: PersonalImageUrl #' height='90' width='65'></img>").Width(75).Title("Picture");
            columns.Bound(c => c.FirstName).Width(190);
            columns.Bound(c => c.LastName);
        })
        .ClientDetailTemplateId("template")
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Contacts_Read", "Contact").Data("additionalData")))

        )
        @(Html.Kendo().Tooltip()
            .For("#MovieStarList")
            .Filter("img")
            .Position(TooltipPosition.Top)
            .Width(110)
        )
    </div>    
</div>
<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MyAddressBook.ViewModels.ContactAddressViewModel>()
            .Name("grid_#=ContactID#")
            .Columns(columns =>
            {
                columns.Bound(c => c.Address);
                columns.Bound(c => c.City);
                columns.Bound(c => c.Postcode);
                columns.Bound(c => c.Country);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("Contact_Read", "Contact", new { contactid = "#=ContactID#" }))
            )
            .ToClientTemplate()
    )
</script>
